* {

    margin: 0;
    padding: 0;
    
    list-style: none;
    text-decoration: none;
}
body{
  background: rgba(255, 192, 1, 0.537);
}
header {
  
  background-color: #733F12;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav {
    width: 60%;
}

ul {

    display: flex;
    width: 100%;
    justify-content: space-between;
}

li {

    list-style: none;
    color: #D9B88F;
    cursor: pointer;
    font-size: 20px;
    transition: .5s;
    font-family: 'Kdam Thmor Pro' , sans-serif;
}

 

li:hover {

    color: #D21617

}

table {
    border: 2px solid black;

}

#area
{
  position:relative;
  left:37%;
  top:29%;
  width:320px;
  height:270px;
}
#area #formulario
{
  position:absolute;
  display:block;
}
fieldset
{
  width:300px;
  height:250px;
}
legend
{
  font-style:bold;
  font-family: "Segoe UI";
}
#formulario label
{
  position:absolute;
  left:19px;
  margin-right:5px;
}
#formulario input.campo_nome
{
  background-color:#f1ff00;
  position:absolute;
  left:95px;
  top:23px;
  width:225px;
}
#formulario input.campo_email
{
  background-color:#f1ff00;
  position:absolute;
  left:95px;
  margin-top:2px;
  width:225px;
}
#formulario textarea.msg
{
  position:absolute;
  background-color:#f1ff00;
}
#formulario input.btn_submit
{
  border-style:dashed;
  position:absolute;
  bottom: 0.5em;
  right:10px;
  background-color:#f1ff00;
}
h1{
  margin-top: 15px;
  margin-bottom: 15px;
  align-items: center;
  text-align: center;
}

p{

  align-items: center;
  text-align: center;
}
a:hover{
  color: #D21617;
}
img {
  width: 500px;
  margin: 0 auto;
}